$header-height: 40px;
$toolbar-height: 35px;
$formula-height: 40px;
$margin-top-table: $header-height + $toolbar-height + $formula-height;
$size-icons: 20px;
$font-size: 14px;

$row-height: 24px;
$row-info-width: 40px;
$cell-width: 80px;
$cell-height: 30px;
$db-header-height: 60px;

$item-counter: 40px;


$color-blue-light: rgb(170, 211, 238);

$color-blue: #6668ff;
$color-grey: #c3c3c3;
$color-grey-light: #eaeaea;
$color-red: #ee0b54;