@import "_mixins.scss";
@import "_variables.scss";

.excel__formula {
  position: fixed;
  z-index: 100;
  top: $header-height + $toolbar-height;
  left: 0;
  right: 0;
  height: $formula-height;
  display: flex;
  align-items: center;
  padding: 0 10px;
  
  & .text {
    font-size: $font-size * 1.2;
    width: $formula-height / 1.8;
    font-weight: 500;
    font-style: italic;
  }
  & .input {
    width: 100%;
    padding: 3px 8px;
    border: 1px solid $color-grey;
    outline: none;
    font-size: $font-size;
    overflow-y: auto;
    max-height: 50px;
  }

}