@import "_mixins.scss";
@import "_variables.scss";

.excel__table {
  position: absolute;
  top: $margin-top-table;
  height: calc(100% - #{$margin-top-table});
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 5px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: $row-height * 0.85;
    min-height: $row-height;
    position: relative;
    width: max-content;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $row-info-width;
    min-height: $row-height;
    border: 1px solid $color-grey;
    background: $color-grey-light;
  }

  .row-data {
    display: flex;
    position: relative;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-grey-light;
    min-width: 40px;
    width: $cell-width;
    height: $cell-height;
    border: 1px solid $color-grey;
    position: relative;
  }

  .cell {
    display: flex;
    width: $cell-width;
    min-width: 40px;
    min-height: $cell-height;
    border: 1px solid $color-grey-light;
    white-space: nowrap;
    position: relative;

    &.selected {
      border: 3px solid $color-blue;
      z-index: 10;
    }
  }

  .col-resize, .row-resize {
    position: absolute;
    background: $color-blue;
    opacity: 0;
    z-index: 1000;
    user-select: none;
  }

  .col-resize {
    width: 4px;
    right: 0;
    min-height: 100%;
    top: 0;

    &:hover {
      cursor: col-resize;
      opacity: 1 !important;
    }
  }

  .row-resize {
    height: 4px;
    width: $row-info-width;
    left: 0;
    bottom: 0;

    &:hover {
      cursor: row-resize; 
      opacity: 1 !important;
    }
  }
  
}